/* FANCY BORDER w/ WOOD BACKGROUND */
.fancyBorder {
  background-image: url(../../../img/woodBackground.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  border: 25px solid #b88846;
  border-image: url(../../../img/fancyborder.svg)
    25;
  margin: auto;
  max-width: 50rem;
}
