/* Small screens */
@media only screen and (max-width: 600px) {
    .signout-btn {
        display: inline;
    }
}
.accountHeader {
    text-align: left;
    font-size: 30px;
}

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 1rem;
        
      }
      .grid > div {
        background: #EDE7F6;
        padding: 1.5rem;
        border-radius: 1rem;
        
      }
      body {
        margin: 2rem;
        font: 12px system-ui;
      }
