:root {
  font-size: 16px;
  font-family: "Open Sans";
  --theme: #24a113;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: var(--text-primary);
}

main {
  margin-left: 6.5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  z-index: 5;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  margin-left: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: var(--theme);
}

.fa-secondary {
  color: var(--theme);
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
  margin: 0;
}

.logo-text {
  display: inline;
  position: absolute;
  top: 1.5rem;
  left: -999px;
  transition: var(--transition-speed);
  color: var(--text-secondary);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
  position: relative;
  right: 2rem;
}

.navbar:hover .icons {
  color: var(--theme);
}

.icons {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  /* background: var(--bg-secondary); */
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.signout-btn {
  display: none;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
  .signout-btn {
    display: inline;
  }
}

/* @media only screen and (max-width: 600px) {
  .navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    overflow: hidden;
  }

  .logo {
    display: none;
  }

  .nav-item {
    display: flex;
    justify-content: space-around;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-link {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 !important;
    height: 3rem;
    margin-bottom: 0;
  }

  .logout {
    display: none;
  }

  .base-container {
    margin-bottom: 3.5rem;
    overflow-x: hidden;
  }

  .link-text {
    display: inline;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
  }

  .navbar:hover .link-text .page-text {
    display: inline;
    color: var(--theme);
  }

  .icons {
    position: relative;
    top: 1.5rem;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
  }

  .page-text {
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 0.9rem;
    color: var(--text-secondary);
  }

  .signout-btn {
    display: inline;
  }
} */

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 6.5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .page-text {
    display: none;
    /* visibility: hidden; */
  }

  .navbar:hover .page-text {
    display: inline;
    color: var(--theme);
    visibility: visible;
    opacity: 1;
    animation: fade 0.85s;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
    color: var(--theme);
  }

  .navbar:hover .signout-btn {
    display: inline;
    margin-left: 6rem;
    animation: fade 3s;
  }

  .nav-item:last-child {
    margin-top: auto;
  }

  .non-auth:last-child {
    margin-top: 0;
  }

  .icons {
    visibility: visible;
    margin: 0;
    padding: 0 !important;
    position: absolute;
    top: 2rem;
    left: 0.75rem;
  }

  .page-text {
    margin: 0;
    padding: 0;
    position: relative;
    bottom: -0.25rem;
    left: 4.5rem;
  }

  body {
    margin-right: 5rem;
    /* padding: 1rem; */
  }

  .base-container {
    margin-right: 6.5rem;
    padding-right: 2rem;
    padding-left: 8.5rem;
    padding-bottom: 2rem;
  }
}

@keyframes fade {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
