/* THESE ARE VARIABLES THAT WE CAN REFERENCE IN ANY OF OUR FILES */
:root {
  --theme: #24a113;
  --theme-secondary: #E36588;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

/* CUSTOM SCROLLBAR */
body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  /* background: #1e1e24; */
  background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
  /* background: var(--text-primary); */
  background: var(--theme-secondary);
}

/* STYLES FOR NAVBAR */
.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  z-index: 5;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  margin-left: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: var(--theme);
}

.fa-secondary {
  color: var(--theme);
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

/* STYLES FOR BIG DOUBLE ARROW */
.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
  margin: 0;
  margin-left: 0.75rem;
  width: 0.6em !important;
}

.logo-text {
  display: inline;
  position: absolute;
  top: 1.5rem;
  left: -999px;
  transition: var(--transition-speed);
  color: var(--text-secondary);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
  position: relative;
  right: 0.5rem;
}

.navbar:hover .icons {
  color: var(--theme);
  transform: translate(0, 0.25rem);
}

.icons {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

/* .signout-btn {
  display: none;
} */

.signout-btn {
  position: relative !important;
  bottom: 0rem;
  margin-top: 2rem !important;
}

/* ---MEDIA QUERIES--- */
/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
  /* .signout-btn {
    position: relative !important;
    bottom: 0rem;
    margin-top: 2rem !important;
  } */
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 6.5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .page-text {
    display: none;
  }

  .navbar:hover .page-text {
    display: inline;
    color: var(--theme);
    visibility: visible;
    opacity: 1;
    animation: fade 0.85s;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 10px;
    color: var(--theme);
    font-size: 1.5rem;
  }

  /* .navbar:hover .signout-btn {
    display: inline-flex !important;
    margin-left: 6rem;
    animation: fade 3s;
    width: 50%;
  } */

  /* .nav-item:last-child {
    margin-top: auto;
  }

  .non-auth:last-child {
    margin-top: 0;
  } */

  .icons {
    visibility: visible;
    margin: 0;
    padding: 0 !important;
    position: absolute;
    left: 0.75rem;
    transform: translate(0, -0.6rem);
  }

  .signout-icon {
    transform: translate(0, 0.25rem);
  }

  .page-text {
    margin: 0;
    padding: 0;
    position: relative;
    bottom: -0.25rem;
    left: 4.5rem;
  }

  /* .signout-btn {
    display: none;
  } */
}

/* animation for page-text & signout button so that navbar slides out first then the words appear */
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Large screens */
@media only screen and (min-width: 767px) {
  /* .signout-btn {
    display: none !important;
  } */
}

/* Specific range Medium screens */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  /* .signout-btn {
    display: none !important;
  } */
}

/* For mobile landscape */
@media only screen and (min-width: 320px) and (max-width: 766px) and (orientation: landscape) {
  .navbar {
    display: none;
  }
  /* .signout-btn {
    position: absolute !important;
    left: 50%;
    transform: translate(-50%, -75%);
    margin-top: 2rem !important;
  } */
}
