<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <script src="https://kit.fontawesome.com/e5543caa9f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
</head>

<body>


<div class ="wrapper">
    <div class ="tabs">
        <ul>
            <li class="active">
                <span class="icon">
                <i class="fas fa-envelope-square"></i>
            </span>
                <span class="text">Letter</span>
            </li>
            <li>
                <span class="icon">
                <i class="fas fa-sms"></i>
            </span>
                <span class="text">SMS</span>
            </li>
            <li>
                <span class="icon">
                <i class="fas fa-phone"></i>
            </span>
                <span class="text">Phone</span>
            </li>
            <li>
                <span class="icon">
                <i class="fas fa-mobile-alt"></i>
            </span>
                <span class="text">Smart Phone</span>
            </li>
        </ul>
    </div>
    <div class ="content">
        <div class="tab_wrap">
            <div class="title">
                letter 
            </div>
            <div class="tab_content" style="display:block;">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit hic, voluptatibus sed ipsum quas porro itaque atque ipsa quo odio accusantium, obcaecati aperiam iste illo commodi consequuntur tempora! Esse, sapiente!</p>
            
            </div>
        
        </div>
        <div class="tab_wrap">
          
            <div class="title" style="display:block;">
                sms
            </div>
            <div class="tab_content" style="display:block;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero molestiae necessitatibus doloribus saepe nemo iure voluptates iste consectetur. Unde, in!
                </p>            
            </div>
            
        </div>
        <div class="tab_wrap">
          
            <div class="title" style="display:block;">
                phone
            </div>
            <div class="tab_content" style="display:block;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero molestiae necessitatibus doloribus saepe nemo iure voluptates iste consectetur. Unde, in!
                </p>            
            </div>
            
        </div>
        <div class="tab_wrap">
          
            <div class="title" style="display:block;">
                Smart Phone
            </div>
            <div class="tab_content" style="display:block;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero molestiae necessitatibus doloribus saepe nemo iure voluptates iste consectetur. Unde, in!
                </p>            
            </div>
            
        </div>


    </div>
</div>
<script src="scripts.js"></script>
</body>
</html>