.form-container {
  max-width: 35rem;
  width: 100%;
  position: relative;
  background: #f9f9f9;
  padding: 2rem;
  margin: 3rem 1rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  text-align: left;
}

.input-container {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding-right: 0;
  padding-top: 0.5rem;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  border: 1px solid #ccc;
  background: #fff;
  padding-left: 0.75rem;
  width: 29rem;
}

#contact textarea {
  width: 29.8rem;
  height: 7rem;
  padding-top: 0.75rem;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea:focus {
  outline: none;
}

@media screen and (max-width: 900px) {
  .form-container {
    width: 100%;
    margin-bottom: 0rem;
  }
  #contact input[type="text"],
  #contact input[type="email"]{
    width: 22rem;
  }  
  #contact textarea {
    width: 23rem;
  }

}

@media screen and (max-width: 600px) {
  #contact input[type="text"],
  #contact input[type="email"]{
    width: 16rem;
  }  
  #contact textarea {
    width: 19rem;
  }
}
