/* imported into both infoCards & addToHomeScreen */
/* FANCY BACKGROUND ANIMATION */
.cardWrapper {
  color: white;
  padding: 2rem 1.5rem;
  border-radius: 10px;
  margin: 0 0.5rem;
  margin-bottom: 1rem;
  max-width: 600px;
  margin-top: 2rem;
  position: relative;
}

.gradientBg {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* SPECIAL CORNER RIBBON STYLING for AddHome InfoCard */
.cornerRibbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  right: -10px;
}

.cornerRibbon::before,
.cornerRibbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  /* border: 5px solid #510000; */
  border: 5px solid #ca2452;
  border-top-color: transparent;
  border-right-color: transparent;
}

.cornerRibbon::before {
  top: 0;
  left: 0;
}

.cornerRibbon::after {
  bottom: 0;
  right: 0;
}

.cornerRibbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  /* background-color: #aa0000; */
  background-color: var(--theme-secondary);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 18px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}
