.root {
  overflow: hidden;
}

/* Regular Phone Screen */
.column {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 17rem;
  margin: auto;
  position: relative;
  margin-top: -1.5rem;
  margin-bottom: 2rem;
}

/* Large screens */
@media only screen and (min-width: 500px) {
  .column {
    margin-top: 1rem;
  }
}

.titleLeftFront {
  position: relative;
  transform: rotate(-45deg) translate(5%, -35%);
  top: 45%;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.titleRightFront {
  position: relative;
  transform: rotate(45deg) translate(-5%, -25%);
  top: 45%;
  color: white;
  text-shadow: 2px 2px 5px black;
}

div.left,
div.right {
  width: 10rem;
  height: 10rem;
  position: relative;
  text-align: center;
  perspective: 1000px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  /* background: linear-gradient(to right, var(--theme), #005600); */
}

div.left {
  box-shadow: 4px 2px 5px #848484;
  align-self: flex-start;
  -moz-border-radius: 8rem 0px;
  -webkit-border-radius: 8rem 0px;
  border-radius: 8rem 0px;
  background: rgb(41, 201, 47);
  background: linear-gradient(
    -45deg,
    rgba(41, 201, 47, 1) 0%,
    rgba(6, 152, 11, 1) 49.9%,
    rgba(38, 172, 51, 1) 50.1%,
    rgba(57, 227, 74, 1) 100%
  );
  /* background: rgb(6, 110, 10);
  background: linear-gradient(
    -45deg,
    rgba(6, 110, 10, 1) 0%,
    rgba(41, 201, 47, 1) 49.9%,
    rgba(57, 227, 74, 1) 50.1%,
    rgba(38, 172, 51, 1) 100%
  ); */
}

div.right {
  box-shadow: 2px 6px 5px #848484;
  align-self: flex-end;
  -moz-border-radius: 0rem 8rem;
  -webkit-border-radius: 0rem 8rem;
  border-radius: 0rem 8rem;
  background: rgb(41, 201, 47);
  background: linear-gradient(
    45deg,
    rgba(41, 201, 47, 1) 0%,
    rgba(6, 152, 11, 1) 49.9%,
    rgba(38, 172, 51, 1) 50.1%,
    rgba(57, 227, 74, 1) 100%
  );
  /* background: rgb(6, 110, 10);
  background: linear-gradient(
    45deg,
    rgba(6, 110, 10, 1) 0%,
    rgba(41, 201, 47, 1) 49.9%,
    rgba(57, 227, 74, 1) 50.1%,
    rgba(38, 172, 51, 1) 100%
  ); */
}

.flipLeft {
  transform: rotate3d(1, -1, 0, 180deg);
}

.flipRight {
  transform: rotate3d(-1, -1, 0, 180deg);
}

/* div.left:hover {
  transform: rotate3d(1, -1, 0, 180deg);
}

div.right:hover {
  transform: rotate3d(-1, -1, 0, 180deg);
} */

.leafFront,
.leafBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.leafBack {
  transform: rotateY(180deg);
}

.titleLeftBack {
  position: relative;
  transform: rotate(-135deg) translate(17%, 20%);
  top: 45%;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.titleRightBack {
  position: relative;
  transform: rotate(135deg) translate(-17%, 20%);
  top: 45%;
  color: white;
  text-shadow: 2px 2px 5px black;
}

/* LEAF ANIMATIONS */
.leaves {
  position: relative;
  top: -5rem;
  width: 100%;
  text-align: center;
  z-index: -1;
}

.leaves i {
  display: inline-block;
  width: 200px;
  height: 150px;
  background: linear-gradient(to bottom right, #309900, #005600);
  transform: skew(20deg);
  border-radius: 5% 40% 70%;
  box-shadow: inset 0px 0px 1px #222;
  border: 1px solid #333;
  z-index: 1;
  animation: falling 5s 0s infinite;
}

.leaves i:nth-of-type(2n) {
  animation: falling2 5s 0s infinite;
}
.leaves i:nth-of-type(3n) {
  animation: falling3 5s 0s infinite;
}

.leaves i:before {
  position: absolute;
  content: "";
  top: 117px;
  right: 9px;
  height: 27px;
  width: 32px;
  transform: rotate(49deg);
  border-radius: 0% 15% 15% 0%;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  border-left: 0px solid #222;
  border-right: 1px solid #222;
  background: linear-gradient(to right, rgba(0, 100, 0, 1), #005600);
  z-index: 1;
}

.leaves i:after {
  content: "";
  height: 125px;
  width: 10px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  display: block;
  transform: rotate(125deg);
  position: absolute;
  left: 85px;
  border-radius: 50%;
}

.leaves i:nth-of-type(n) {
  height: 23px;
  width: 30px;
}
.leaves i:nth-of-type(n):before {
  width: 7px;
  height: 5px;
  top: 17px;
  right: 1px;
}
.leaves i:nth-of-type(n):after {
  width: 2px;
  height: 17px;
  left: 12px;
  top: 0px;
}

.leaves i:nth-of-type(2n + 1) {
  height: 11px;
  width: 16px;
}
.leaves i:nth-of-type(2n + 1):before {
  width: 4px;
  height: 3px;
  top: 7px;
  right: 0px;
}
.leaves i:nth-of-type(2n + 1):after {
  width: 2px;
  height: 6px;
  left: 5px;
  top: 1px;
}

.leaves i:nth-of-type(3n + 2) {
  height: 17px;
  width: 23px;
}
.leaves i:nth-of-type(3n + 2):before {
  height: 4px;
  width: 4px;
  top: 12px;
  right: 1px;
}
.leaves i:nth-of-type(3n + 2):after {
  height: 10px;
  width: 2px;
  top: 1px;
  left: 8px;
}

.leaves i:nth-of-type(n) {
  animation-delay: 1.9s;
}
.leaves i:nth-of-type(2n) {
  animation-delay: 3.9s;
}
.leaves i:nth-of-type(3n) {
  animation-delay: 2.3s;
}
.leaves i:nth-of-type(4n) {
  animation-delay: 4.4s;
}
.leaves i:nth-of-type(5n) {
  animation-delay: 5s;
}
.leaves i:nth-of-type(6n) {
  animation-delay: 3.5s;
}
.leaves i:nth-of-type(7n) {
  animation-delay: 2.8s;
}
.leaves i:nth-of-type(8n) {
  animation-delay: 1.5s;
}
.leaves i:nth-of-type(9n) {
  animation-delay: 3.3s;
}
.leaves i:nth-of-type(10n) {
  animation-delay: 2.5s;
}
.leaves i:nth-of-type(11n) {
  animation-delay: 1.2s;
}
.leaves i:nth-of-type(12n) {
  animation-delay: 4.1s;
}
.leaves i:nth-of-type(13n) {
  animation-delay: 1s;
}
.leaves i:nth-of-type(14n) {
  animation-delay: 4.7s;
}
.leaves i:nth-of-type(15n) {
  animation-delay: 3s;
}

.leaves i:nth-of-type(n) {
  background: linear-gradient(to bottom right, #309900, #005600);
}
.leaves i:nth-of-type(2n + 2) {
  background: linear-gradient(to bottom right, #5e9900, #2b5600);
}
.leaves i:nth-of-type(4n + 1) {
  background: linear-gradient(to bottom right, #990, #564500);
}

.leaves i:nth-of-type(n) {
  opacity: 1;
}
.leaves i:nth-of-type(3n + 1) {
  opacity: 0.7;
}
.leaves i:nth-of-type(3n + 2) {
  opacity: 0.5;
}

.leaves i:nth-of-type(n) {
  transform: rotate(180deg);
}

.leaves i:nth-of-type(n) {
  animation-timing-function: ease-in-out;
}

@keyframes falling {
  0% {
    transform: translate3d(300, 0, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50px, 700px, 0) rotate(90deg);
    opacity: 0;
  }
}

@keyframes falling3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(-20deg);
  }

  100% {
    transform: translate3d(-25px, 640px, 0) rotate(-70deg);
    opacity: 0;
  }
}

@keyframes falling2 {
  0% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }

  100% {
    transform: translate3d(40px, 680px, 0) rotate(0deg);
    opacity: 0;
  }
}

/* FANCY BORDER but seems to prevent scrolling on mobile... Kobe can you make another galaxy card? */
.fancyBorder {
  background-image: url("https://c7.uihere.com/files/604/304/970/wood-plank-vector-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  border: 25px solid #b88846;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E")
    25;
}
