.bannerShape {
  background-color: var(--theme-secondary);
  width: 70%;
  min-width: 17rem;
  height: 7rem;
  place-items: center;
  text-align: center;
  position: relative;
  display: flex;
  margin: 3rem auto;
  color: #fff;
  text-shadow: 1px 1px 5px black;
}

.bannerShape:before,
.bannerShape:after {
  /* background-color: #a44; */
  background-color: #ca2452;
  width: 60px;
  height: 80px;
  content: "";
  display: block;
  transform: skewY(20deg);
  position: absolute;
  z-index: -1;
}

.bannerShape:before {
  top: 43.5px;
  left: 0;
}
.bannerShape:after {
  top: -11px;
  right: 0;
}
