.modal {
  position: relative;
  top: 45%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-left: 5rem;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 25rem;
  /* height: 30rem; */
  height: 'auto';
  background-color: white;
  border-radius: 10px;
  border: 1px solid var(--theme);
  -webkit-box-shadow: 0 3px 7px var(--theme);
  -moz-box-shadow: 0 3px 7px var(--theme);
  box-shadow: 0 3px 7px var(--theme);
  outline: none;
  z-index: 4;
}

/* .overlay {
    position: sticky;
    overflow: hidden;
} */

/* small screens for modal */
@media only screen and (max-width: 600px) {
  .modal {
    margin-left: 0;
    width: 20rem;
    /* height: 25rem; */
    height: 'auto';
  }
}